version: '3.8'

services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: saas_php
    volumes:
      - .:/var/www/html
    environment:
      DATABASE_URL: "mysql://root:root@host.docker.internal:3306/starter?serverVersion=5.7.39&charset=utf8mb4"
      MESSENGER_TRANSPORT_DSN: "redis://redis:6379/messages"
      MAILER_DSN: "smtp://mailpit:1025"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - redis
      - mailpit
    networks:
      - saas_network

  nginx:
    image: nginx:alpine
    container_name: saas_nginx
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - saas_network

  redis:
    image: redis:7-alpine
    container_name: saas_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - saas_network

  mailpit:
    image: axllent/mailpit
    container_name: saas_mailpit
    ports:
      - "8025:8025"  # Web UI
      - "1025:1025"  # SMTP
    networks:
      - saas_network

volumes:
  redis_data:

networks:
  saas_network:
    driver: bridge
