{% extends 'base.html.twig' %}

{% block body %}
<div class="min-h-screen bg-slate-50 font-sans text-slate-600" dir="{{ app.request.locale == 'ar' ? 'rtl' : 'ltr' }}" x-data="{ sidebarOpen: false, profileDropdown: false, dashboardDropdown: true, workspaceDropdown: false }">
    {# Sidebar Component #}
    {% include 'components/dashboard/sidebar.html.twig' with {
        'user': app.user,
        'currentRoute': app.request.attributes.get('_route')
    } %}
    
    {# Mobile Overlay #}
    <div x-show="sidebarOpen" @click="sidebarOpen = false" x-transition.opacity class="fixed inset-0 bg-slate-900/50 z-30 lg:hidden"></div>

    {# Main Content #}
    <div class="lg:ms-64 transition-all duration-200 min-h-screen flex flex-col">
        {# Navbar Component #}
        {% include 'components/dashboard/navbar.html.twig' %}

        {# Page Content #}
        <main class="flex-1 p-6">
            {% block dashboard_content %}{% endblock %}
        </main>
        
        {# Footer Component #}
        {% include 'components/dashboard/footer.html.twig' %}
    </div>
</div>

<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
{% endblock %}

