{% extends 'base.html.twig' %}

{% block body %}
<div class="min-h-screen bg-slate-50 dark:bg-slate-900 font-sans text-slate-600 dark:text-slate-300" dir="{{ app.request.locale == 'ar' ? 'rtl' : 'ltr' }}" x-data="dashboardLayout">
    {# Sidebar Component #}
    {% include 'components/dashboard/sidebar.html.twig' with {
        'user': app.user,
        'currentRoute': app.request.attributes.get('_route')
    } %}
    
    {# Mobile Overlay #}
    <div x-show="sidebarOpen" @click="closeSidebar()" x-transition.opacity class="fixed inset-0 bg-slate-900/50 z-30 lg:hidden"></div>

    {# Main Content #}
    <div class="lg:ms-64 transition-all duration-200 min-h-screen flex flex-col">
        {% if is_granted('IS_IMPERSONATOR') %}
            <div class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4 sticky top-0 z-50 flex justify-between items-center" role="alert">
                <div>
                    <p class="font-bold">Impersonation Mode</p>
                    <p>You are currently acting as {{ app.user.email }}.</p>
                </div>
                <a href="{{ path('admin', {'_switch_user': '_exit'}) }}" class="bg-yellow-800 hover:bg-yellow-700 text-black font-bold py-2 px-4 rounded">
                    Exit Impersonation
                </a>
            </div>
        {% endif %}

        {# Navbar Component #}
        {% include 'components/dashboard/navbar.html.twig' %}

        {# Page Content #}
        <main class="flex-1 p-6">
            {% block dashboard_content %}{% endblock %}
        </main>
        
        {# Footer Component #}
        {% include 'components/dashboard/footer.html.twig' %}
    </div>
</div>

{% endblock %}

