@import "tailwindcss";

@plugin "flyonui";
@plugin "@iconify/tailwind4";
@import "../../node_modules/flyonui/variants.css";

@config "../../tailwind.config.js";

@source "../../templates";
@source "../../src/Controller";
@source "../../assets";

@theme {
  --color-primary: #9333ea;
  --color-base-100: #ffffff;
  --color-base-200: #f9fafb;
  --color-base-300: #d1d5db;
  --color-base-content: #1f2937;
}

/* Dark Mode Overrides */
.dark {
  --color-base-100: #1f2937;
  /* gray-800 */
  --color-base-200: #111827;
  /* gray-900 */
  --color-base-300: #374151;
  /* gray-700 */
  --color-base-content: #f9fafb;
  /* gray-50 */
}

.sf-select {
  appearance: none;
  /* Disable the default arrow */
  -webkit-appearance: none;
  /* For WebKit-based browsers */
  -moz-appearance: none;
  /* For Firefox */
  width: 100%;
  /* padding: 10px 35px 10px 10px; */
  font-size: 16px;
  /* border: 1px solid #ccc; */
  /* border-radius: 4px; */
  /* background-color: #fff; */
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
  cursor: pointer;
}

[dir="rtl"] .sf-select {
  background-position: left 10px center;
}