@import "tailwindcss";

@plugin "flyonui";
@plugin "@iconify/tailwind4";

@config "../../tailwind.config.js";

@source "../../templates";
@source "../../src/Controller";
@source "../../assets";

@theme {
  --color-primary: #9333ea;
  /* purple-600 */
}