{% extends '@EasyAdmin/layout.html.twig' %}

{% block title %}Email Templates Preview{% endblock %}

{% block content_title %}Email Templates{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Transactional Emails</h5>
                        <p class="card-text">Select a template to preview with dummy data.</p>
                        
                        <div class="row mt-4">
                            {% for key, name in templates %}
                                <div class="col-md-4 mb-4">
                                    <div class="card h-100">
                                        <div class="card-body d-flex flex-column">
                                            <h5 class="card-title">{{ name }}</h5>
                                            <p class="card-text text-muted mb-4">{{ key }}</p>
                                            <a href="{{ path('admin_email_preview_show', {template: key}) }}" target="_blank" class="btn btn-primary mt-auto">
                                                <i class="fa fa-eye"></i> Preview
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
